<a href="https://colab.research.google.com/github/masrinez/masrinez/blob/main/Heart_Failure_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Heart Failure Prediction

**Table** **of** **Contents**

Introduction

Data Wrangling

Exploratory Data Analysis

Conclusions

# Introduction

# Dataset Description

Rise in health-related issues has made it critical that everyone has easy access to health-care services. However,
 ***Cardiovascular*** **diseases** (e.g *Hypertension*, *Myocardial* *Infraction*, *Health* *failure*) are the number one cause of death in Nigeria and globally, taking an estimated 17.9 million lives each year, which accounts for 31% of all deaths worlwide.
Heart failure is a common event caused by CVDs and this dataset contains 12 features that can be used to predict mortality rate by heart failure.

Most cardiovascular diseases can be prevented by addressing behavioural risk factors such as tobacco use, unhealthy diet and obesity, physical inactivity and harmful use of alcohol using population-wide strategies.

People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help.

# Variables in this Dataset

1) "Age" = indicates the age of the patient.

2) "Anaemia" = indicates the lack of enough healthy red blood cells to carry adequate oxygen to your body's tissues.

3) "Creatine - phosphokinase" = indicates inflammation of muscles (myositis) or muscle damage due to muscle disorders (myopathies) such as muscular dystrophy or to help diagnose rhabdomyolysis if a person has signs and symptoms.

4) "Diabetes" = indicates a chronic disease that occurs either when the pancreas does not produce enough insulin or when the body cannot effectively use the insulin it produces.

5) "Ejection-Fraction" = indicates the measurement, expressed as a percentage, of how much blood the left ventricle pumps out with each contraction.

6) "High Blood Pressure" = indicates condition in which the long-term force of the blood against your artery walls is high enough that it may eventually cause health problems, such as heart disease.

7) "Platelets" = indicates small, colorless cell fragments in our blood that form clots and stop or prevent bleeding.

8) "Serum_creatinine" = serum creatinine level is based on a blood test that measures the amount of creatinine in your blood. It tells how well your kidneys are working.

9) "Serum Sodium" = Sodium is an essential electrolyte that helps maintain the balance of water in and around your cells. It's important for proper muscle and nerve function. It also helps maintain stable blood pressure level.

10) "Sex" = indicates the gender of the patient

11) "Smoking" = indicates the act of inhaling and exhaling the fumes of burning plant material by the patients.

NB//: High Blood Pressure variable will be used as our dependent variable while the others will be used as independent variables

*   0 = Absent
*   1 = Present

**Question**(**s**) **for** **Analysis**

So we will try answering the following questions below:

1) Predicting mortality caused by Heart Failure?

2) Is Alcohol a major determinant in causing Heart Failure?

3) Is there any significant relationship between Ejection fraction and their elevated blood pressure?

4) Is there any significant relationship between Anaemia and their elevated blood pressure?

5) Is there any significant relationship between Serum  creatinine and their elevated blood pressure?

# Acknowledgements

## Citation

Davide Chicco, Giuseppe Jurman: Machine learning can predict survival of patients with heart failure from serum creatinine and ejection fraction alone. BMC Medical Informatics and Decision Making 20, 16 (2020). (link)

##License
CC BY 4.0

##Splash icon
Icon by Freepik, available on Flaticon.

##Splash banner
Wallpaper by jcomp, available on Freepik.

# **Data Wrangling**

In this section of the report, we are going to perform the following tasks:

1) load in the data.

2) check for cleanliness and orderliness.

3) trim the dataset.

4) clean the dataset for analysis.

# **Data Gathering**

In [55]:
# import statements for all packages 

# For Data analysis

import pandas as pd
import numpy as np

In [56]:
# For data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [57]:
#For unzipping files

import zipfile

In [59]:
# Upgrade pandas to use dataframe.explode() function. 

!pip install --upgrade pandas==0.25.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==0.25.0 in /usr/local/lib/python3.7/dist-packages (0.25.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (2.8.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (1.21.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas==0.25.0) (1.15.0)

In [60]:
#Extract all content from zip file

with zipfile.ZipFile('archive.zip', 'r') as myzip:
  myzip.extractall()

# **Data** **Assessing**

# General Properties

*I am going to avoid performing too many operations in each cell. I am going to Create cells freely to explore my data.*

In [61]:
# Loading my data 

df = pd.read_csv('heart_failure_clinical_records_dataset.csv')

#Performing operations to inspect few columns in the dataset

df.head(2)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1

In [62]:
#getting information on the characteristices of each attributes in the data

df.info

<bound method DataFrame.info of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]>

In [63]:
#checking the size of the dataset
df.shape

(299, 13)

# **The Dataset I am working on possess:**

1) 299 records/rows

2) 13 Fields/Column

In [65]:
# Checking the statistical values of the dataset
df.describe

<bound method NDFrame.describe of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]>

In [66]:
# Checking Columns for missing value

df.isnull().sum().any()

False

In [67]:
# Checking columns for missing value

df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [69]:
# Checking row for missing value

df.isnull().any(axis = 1).sum()

0

In [70]:
#Checking row for missing value

df.isnull().any(axis = 1)

0      False
1      False
2      False
3      False
4      False
       ...
294    False
295    False
296    False
297    False
298    False
Length: 299, dtype: bool

In [71]:
#Checking number of unique characters

df.nunique().sum()

675

In [72]:
#number of duplicates

df.duplicated().sum()

0

In [75]:
#Number of unique value for anaemia
df.anaemia.value_counts()

0    170
1    129
Name: anaemia, dtype: int64

In [76]:
#Number of unique value for diabetes.
df.diabetes.value_counts()

0    174
1    125
Name: diabetes, dtype: int64

**I have gone through the entire dataset to check for the number of columns, number of rows, presence of duplicated value, presence of missing values, the statistical figure of the dataset and the number of Unique characters.**

# **Data Cleaning**

**I am going to keep you informed on the steps taken in my investigation. Following every code cell, or every set of related code cells, with a markdown cell to describe what was found in the preceding cell(s).**

# **Prepaing the data and identifying irregularities**

In [77]:
#Copying the dataset into pandas.copy

df_clean = df.copy

In [78]:
# Checking the data type of each attributes and making sure they are in the right format needed for analysis

df_clean.dtypes

AttributeError: ignored