<a href="https://colab.research.google.com/github/masrinez/masrinez/blob/main/Heart_Failure_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Heart Failure Prediction

**Table** **of** **Contents**

Introduction

Data Wrangling

Exploratory Data Analysis

Conclusions

# Introduction

# Dataset Description

Rise in health-related issues has made it critical that everyone has easy access to health-care services. However,
 ***Cardiovascular*** **diseases** (e.g *Hypertension*, *Myocardial* *Infraction*, *Health* *failure*) are the number one cause of death in Nigeria and globally, taking an estimated 17.9 million lives each year, which accounts for 31% of all deaths worlwide.
Heart failure is a common event caused by CVDs and this dataset contains 12 features that can be used to predict mortality rate by heart failure.

Most cardiovascular diseases can be prevented by addressing behavioural risk factors such as tobacco use, unhealthy diet and obesity, physical inactivity and harmful use of alcohol using population-wide strategies.

People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help.

# Variables in this Dataset

1) "Age" = indicates the age of the patient.

2) "Anaemia" = indicates the lack of enough healthy red blood cells to carry adequate oxygen to your body's tissues.

3) "Creatine - phosphokinase" = indicates inflammation of muscles (myositis) or muscle damage due to muscle disorders (myopathies) such as muscular dystrophy or to help diagnose rhabdomyolysis if a person has signs and symptoms.

4) "Diabetes" = indicates a chronic disease that occurs either when the pancreas does not produce enough insulin or when the body cannot effectively use the insulin it produces.

5) "Ejection-Fraction" = indicates the measurement, expressed as a percentage, of how much blood the left ventricle pumps out with each contraction.

6) "High Blood Pressure" = indicates condition in which the long-term force of the blood against your artery walls is high enough that it may eventually cause health problems, such as heart disease.

7) "Platelets" = indicates small, colorless cell fragments in our blood that form clots and stop or prevent bleeding.

8) "Serum_creatinine" = serum creatinine level is based on a blood test that measures the amount of creatinine in your blood. It tells how well your kidneys are working.

9) "Serum Sodium" = Sodium is an essential electrolyte that helps maintain the balance of water in and around your cells. It's important for proper muscle and nerve function. It also helps maintain stable blood pressure level.

10) "Sex" = indicates the gender of the patient

11) "Smoking" = indicates the act of inhaling and exhaling the fumes of burning plant material by the patients.

NB//: 1) High Blood Pressure variable will be used as our dependent variable while the others will be used as independent variables

**Question**(**s**) **for** **Analysis**

So we will try answering the following questions below:

1) Predicting mortality caused by Heart Failure?

2) Is Ejection-Fraction a major determinant in causing Heart Failure?

3) Is there any significant relationship between Diabetes and their elevated blood pressure?

4) Is there any significant relationship between Anaemia and their elevated blood pressure?

5) Is there any significant relationship between Serum Sodium and their elevated blood pressure?

# Acknowledgements

## Citation

Davide Chicco, Giuseppe Jurman: Machine learning can predict survival of patients with heart failure from serum creatinine and ejection fraction alone. BMC Medical Informatics and Decision Making 20, 16 (2020). (link)

##License
CC BY 4.0

##Splash icon
Icon by Freepik, available on Flaticon.

##Splash banner
Wallpaper by jcomp, available on Freepik.

In [1]:
# import statements for all packages 

# For Data analysis

import pandas as pd
import numpy as np

In [2]:
# For data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
#For unzipping files

import zipfile

In [9]:
# Upgrade pandas to use dataframe.explode() function. 

!pip install --upgrade pandas==0.25.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas==0.25.0
  Downloading pandas-0.25.0-cp37-cp37m-manylinux1_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 4.9 MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (2.8.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (1.21.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas==0.25.0) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xarray 0.20.2 requires pandas>=1.1, but you have pandas 0.25.0 which is incompatible.
google-colab 1.0.0 requires pandas>=1.1.0; python_version >= "3.0", but you have pandas 0.25.0 which is incompatible.
fbprophet 0.7.1 requires pandas>=1.0.4, but you have pandas 0.25.0 which is incompatible.
Successfully installed pandas-0.25.0

In [4]:
with zipfile.ZipFile('archive.zip', 'r') as myzip:
  myzip.extractall()

In [6]:
df = pd.read_csv('heart_failure_clinical_records_dataset.csv')
df.head(2)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1